### 6. 사이킷런으로 수행하는 타이타닉 생존자 예측

In [1]:
!pip install matplotlib
!pip install seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

titanic_df = pd.read_csv('./train.csv')
titanic_df.head(3)

#Seaborn은 Matplotlib을 기반으로 다양한 색상 테마와 통계용 차트 등의 기능을 추가한 시각화 패키지
#Matplotlib는 파이썬에서 데이터를 차트나 플롯(Plot)으로 그려주는 라이브러리 패키지

Requirement already satisfied: seaborn in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from seaborn) (1.4.1)
Requirement already satisfied: numpy>=1.15 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from seaborn) (1.21.5)
Requirement already satisfied: matplotlib>=2.2 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from seaborn) (3.5.1)
Requirement already satisfied: scipy>=1.0 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from seaborn) (1.7.3)
Requirement already satisfied: packaging>=20.0 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib>=2.2->seaborn) (9.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib>=2.2->seaborn) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib>=2.2->seaborn) (4.31.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (3.5.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: cycler>=0.10 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib) (4.31.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib) (3.0.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: numpy>=1.17 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: packaging>=20.0 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hyo\anaconda3\envs\py39\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [2]:
print('\n ### 학습 데이터 정보 ### \n')
print(titanic_df.info())
#DataFrame의 info()메서드를 통해 각 전체 행 수, 컬럼에 대한 정보, 결측치 있는지 없는지, 데이터 타입, 메모리 사용량 등을 확인함.
#RangeIndex는 DataFrame 인덱스의 범위를 나타내 전체 행의 개수를 알수 있음. 
#칼럼 수는 12개, 2개의 칼럼이 float64 타입, 5개의 칼럼이 object타입임.

 ### 학습 데이터 정보 ###

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [9]:
#사이킷런 머신러닝 알고리즘은 Null값을 허용하지 않아 DataFrame의 fillna()함수를 사용해 Null값을 평균 또는 고정 값으로 변경.

titanic_df['Age'].fillna(titanic_df['Age'].mean(),inplace=True)
titanic_df['Cabin'].fillna('N', inplace=True)
titanic_df['Embarked'].fillna('N',inplace=True)
print('데이터 세트 Null 값 개수', titanic_df.isnull().sum().sum())

데이터 세트 Null 값 개수 0

In [14]:
# 문자열로 남은 피처들의 값 분류하기

print(' Sex 값 분포:\n', titanic_df['Sex'].value_counts())
print('\n Cabin 값 분포:\n', titanic_df['Cabin'].value_counts())
print('\n Embarked 값 분포:\n', titanic_df['Embarked'].value_counts())

 Sex 값 분포:
 male      577
female    314
Name: Sex, dtype: int64

 Cabin 값 분포:
 N              687
C23 C25 C27      4
G6               4
B96 B98          4
C22 C26          3
              ...
E34              1
C7               1
C54              1
E36              1
C148             1
Name: Cabin, Length: 148, dtype: int64

 Embarked 값 분포:
 S    644
C    168
Q     77
N      2
Name: Embarked, dtype: int64